
name: Code analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  pmd:

    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
      - uses: pmd/pmd-github-action@v2
        with:
          rulesets: 'category/java/errorprone.xml'

  
