
name: Code analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  pmd:

    runs-on: ubuntu-latest
    
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
      - uses: pmd/pmd-github-action@v2
        id: pmd
        with:
          sourcePath: 'app/src/main/java/org'
          rulesets: 'category/java/errorprone.xml'
      - name: Fail build if there are violations
        if: steps.pmd.outputs.violations != 0
        run: exit 1
  

  
